<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<center><body>
    <form action="/foodform" method="POST">
    <h1> Food List</h1>
    <h2 Enter your meals></h2>
        <div class="input-field">
            <input type="text" name="Date" id="Day"
            placeholder="Enter Date">
        </div>

        <div class="input-field">
            <input type="text" name="meal category"id="mealType"
            placeholder="Enter the meal period">
        </div>
            
        <div class="input-field">
            <input type="text" name="foodname" id="foodName"
            placeholder="Enter the food name">
        </div>
        
        <div class="input-field">
            <input type="text" name="beverage" id="drink"
            placeholder="Enter your drink name">
        </div>

        

        
        <button class="btn btn-primary" type="submit" > Add Food</button>
        <button class="/views/food.ejs" method="POST"> Submit</button>
    </form>
</center></body>
</html>