<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/header.ejs") %> 
</head>
<center><body>
  <div> <%- include("./partials/navbar.ejs") %> </div>
    
    <form action="/foodform" method="POST" style="margin-top:150px;">
      <h1> Food List</h1>
      <h2 Enter your meals></h2>
        <div class="input-field">
            <input type="text" name="day" id="day"
            placeholder="Enter Date">
        </div>

        <div class="input-field">
            <input type="text" name="meal type" id="mealType"
            placeholder="Enter the meal period">
        </div>
            
        <div class="input-field">
            <input type="text" name="food name" id="foodName"
            placeholder="Enter the food name">
        </div>
        
        <div class="input-field">
            <input type="text" name="beverage" id="beverage"
            placeholder="Enter your drink name">
        </div>
        <br />

       <button class="" type="submit" style="border-radius: 5px"> Add Food</button>
    </form>
    <div>
        <br />

      <form action="./food" method="POST">
            <button href="/views/food.ejs" type="submit" style="border-radius: 5px"> Submit</button>
        </form>
    </div>

</center></body>
<div> <%- include("./partials/footer.ejs") %> </div>

</html>