<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/header.ejs') %> 
</head>

<center><body>
    
    <form action="/foodform" method="POST">
      <h1> Food List</h1>
      <h2 Enter your meals></h2>
        <div class="input-field">
            <input type="text" name="day" id="day"
            placeholder="Enter Date">
        </div>

        <div class="input-field">
            <input type="text" name="mealType" id="mealType"
            placeholder="Enter the meal period">
        </div>
            
        <div class="input-field">
            <input type="text" name="foodName" id="foodName"
            placeholder="Enter the food name">
        </div>
        
        <div class="input-field">
            <input type="text" name="beverage" id="beverage"
            placeholder="Enter your drink name">
        </div>
       <button class="btn btn-primary" type="submit" > Add Food</button>
    </form>
    <div>
      <form action="./food" method="POST">
            <button class="/views/food.ejs" type="submit"> Submit</button>
        </form>
    </div>

    <style>
        body{
            background-image: url(https://images.unsplash.com/photo-1600335895229-6e75511892c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80);
        }
    </style>

</center></body>
</html>