<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <title>Login Page  </title>
  </head>
<style>
  body { 
    background-color: blue;
    font-size: x-large;
    display:flex; 
    align-items: center;
    justify-content: center;
    
  }


    <%- include ("./partials/header.ejs") %> 

</head>
<center><body>
  <div> <%- include("./partials/navbar.ejs") %> </div>
    <form action="/action_page.php" style="margin-top:150px;">
      <h1> Login </h1>  
      <label for="firstName">User Name:</label><br>
        <input type="text" name="firstName" id="firstName" placeholder="username"><br>
        <label for="lastName">Password:</label><br>
        <input type="text" name="lastName" id="lastName" placeholder="Password"><br><br>
        <button type="submit" value="Submit" style="border-radius: 5px">Submit</button>
      </form> 
   <button type="button" style="border-radius: 5px">Log In</button> 
</center></body>
<div> <%- include("./partials/footer.ejs") %> </div>

</html>