<!DOCTYPE html>
<html lang="en">
<head>


    <%- include ("./partials/header.ejs") %> 

</head>
<center><body>
  <div> <%- include("./partials/navbar.ejs") %> </div>
    <form action="/register" method="POST" style="margin-top: 150px;">
        <h1> Sign Up </h1>
        <div class="input-field">

            <input type="text"
            name="firstName"
            id="firstName"
            placeholder="Enter your first name"
            title="only letters"
            pattern="[a-zA-Z]+"
            required
            >

           <div class="input-field">
            <input type="text"
            name="lastName"
            id="lastName"
            placeholder="Enter your last name"
            title="letters only"
            pattern="[a-zA-Z]+"
            required
            >

        </div>

<div class="input-field">
            <input type="email"
            name="email"
            id="email"
            placeholder="Enter email address"  
            required
            >
        </div>
        
        <br />

<div class="input-field">
            <input type="text"
            name="username"
            id="username" 
            placeholder="Enter a username"
            title="letters and numbers (no special characters, 4 character min, 12 character max)"
            pattern="[A-Za-z0-9]{4,12}"
            required
            >
</div>
<div class="input-field">
    <input type="password"
    name="password"
    id="password"
    placeholder="Enter a password"
    title="Enter a password, 4 character min, 12 character max"
    pattern="[A-Za-z0-9]{4,12}"
    required
    >
</div>
<br />
<button class="" type="submit" style="border-radius: 5px"> Register</button>

    </form>

    
</center></body>
<div> <%- include("./partials/footer.ejs") %> </div>

</html>